<form class="form-horizontal">
<fieldset class="field_crimes">

<!-- Form Name -->
<legend>New Crime</legend>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Nom22">Compnos</label>
  <div class="col-md-4">
  <input id="Nom22" name="Nom22" placeholder="compnos" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Prénom">Nature Code</label>
  <div class="col-md-4">
  <input id="Prénom" name="Prénom" placeholder="nature code" class="form-control input-md" required="" type="text">

  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="incident">Incident</label>
  <div class="col-md-4">
  <input id="incident" name="incident" placeholder="incident" class="form-control input-md" required="" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="crime_code">Crime Code</label>
  <div class="col-md-4">
  <input id="crime_code" name="crime_code" placeholder="crime code" class="form-control input-md" required="" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="district">District</label>
  <div class="col-md-4">
  <input id="district" name="district" placeholder="district" class="form-control input-md" required="" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="area">Area</label>
  <div class="col-md-4">
  <input id="area" name="area" placeholder="area" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Ddn">Date</label>
  <div class="col-md-4">
  <input id="Ddn" name="Ddn" placeholder="date" class="form-control input-md" required="" type="text">
  <span class="help-block">format :JJ/MM/YYYY   (VOIR FORMAT)</span>
  </div>
</div>


<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" for="weapon">Weapon</label>
  <div class="col-md-4">
  <input id="weapon" name="weapon" placeholder="weapon" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="shooting">Shooting</label>
  <div class="col-md-4">
  <input id="Shooting" name="shooting" placeholder="hooting" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="domestic">Domestic</label>
  <div class="col-md-4">
  <input id="domestic" name="domestic" placeholder="domestic" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="shift">Shift</label>
  <div class="col-md-4">
  <input id="shift" name="shift" placeholder="shift" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="year">Year</label>
  <div class="col-md-4">
  <input id="year" name="year" placeholder="year" class="form-control input-md" required="" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="month">Month</label>
  <div class="col-md-4">
  <input id="month" name="month" placeholder="month" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="day_week">Day_Week</label>
  <div class="col-md-4">
  <input id="day_week" name="day_week" placeholder="day week" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="ucrpart">Ucrpart</label>
  <div class="col-md-4">
  <input id="ucrpart" name="ucrpart" placeholder="ucrpart" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="x">X</label>
  <div class="col-md-4">
  <input id="x" name="x" placeholder="x" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="y">Y</label>
  <div class="col-md-4">
  <input id="y" name="y" placeholder="y" class="form-control input-md" required="" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="streetname">Streetname</label>
  <div class="col-md-4">
  <input id="streetname" name="streetname" placeholder="streetname" class="form-control input-md" required="" type="text">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="xstreetname">XStreetname</label>
  <div class="col-md-4">
  <input id="xstreetname" name="xstreetname" placeholder="xstreetname" class="form-control input-md" required="" type="text">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="location">Location</label>
  <div class="col-md-4">
  <input id="location" name="location" placeholder="location" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="send">Envoyer Demande</label>
  <div class="col-md-4">
    <button id="send" name="send" class="btn btn-primary">Envoyer</button>
  </div>
</div>

</fieldset>
</form>
