
<div>
    <select>
        <option>ALL</option>
        <option>ID</option>
        <option>COMPNOS</option>
        <option>NATURECODE</option>
        <option>INCIDENTS</option>
        <option>CRIME CODE</option>
        <option>DISTRICT</option>
        <option>AREA</option>
        <option>DATE</option>
        <option>WEAPON</option>
        <option>SHOOTING</option>
        <option>DOMESTIC</option>
        <option>SHIFT</option>
        <option>YEAR</option>
        <option>MONTH</option>
        <option>DAY_WEEK</option>
        <option>UCRPART</option>
        <option>X</option>
        <option>Y</option>
        <option>STREETNAME</option>
        <option>XSTREETNAME</option>
        <option>LOCATION</option>
    </select>

    <div class="table-responsive">
    <table class="table_crime">
        <thead>
            <tr>
                <th>ID</th>
                <th>COMPNOS</th>
                <th>NATURE CODE</th>
                <th>INCIDENTS</th>
                <th>CRIME CODE</th>
                <th>DISTRICT</th>
                <th>AREA</th>
                <th>DATE</th>
                <th>WEAPON</th>
                <th>SHOOTING</th>
                <th>DOMESTIC</th>
                <th>SHIFT</th>
                <th>YEAR</th>
                <th>MONTH</th>
                <th>DAY_WEEK</th>
                <th>UCRPART</th>
                <th>X</th>
                <th>Y</th>
                <th>STREETNAME</th>
                <th>XSTREETNAME</th>
                <th>LOCATION</th>
            </tr>
        </thead>
        <tbody>
              <tr ng-repeat="item in filtereditems">
                  <td>
                      {{item._id}}
                      <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/mydb/crimes/%22583ed87c516bfa8911466516%22?skip=0&key=&value=&type=&query=&projection= ">
                          <input type="hidden" name="_method" value="delete">
                          <button type="submit" class="btn btn-danger">
                              <span class="glyphicon glyphicon-trash"></span>
                          </button>
                  </td>
                  <td>{{item.compnos}}</td>
                  <td>{{item.naturecode}}</td>
                  <td>{{item.incident_type_description}}</td>
                  <td>{{item.main_crimecode}}</td>
                  <td>{{item.reptdistrict}}</td>
                  <td>{{item.reportingarea}}</td>
                  <td>{{item.fromdate}}</td>
                  <td>{{item.weapontype}}</td>
                  <td>{{item.shooting}}</td>
                  <td>{{item.domestic}}</td>
                  <td>{{item.shift}}</td>
                  <td>{{item.year}}</td>
                  <td>{{item.month}}</td>
                  <td>{{item.day_week}}</td>
                  <td>{{item.ucrpart}}</td>
                  <td>{{item.x}}</td>
                  <td>{{item.y}}</td>
                  <td>{{item.streetname}}</td>
                  <td>{{item.xstreetname}}</td>
                  <td>{{item.location}}</td>
              </tr>
        </tbody>
    </table>
    </div>





<div class="container">
    <div class="row">

      <div class="col-md-12 text-center">
        <ul uib-pagination="" total-items="bigTotalItems" max-size="maxSize" ng-model="currentPage"  items-per-page="itemsPerPage" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" rotate="true"></ul>
      </div>
	</div>
</div>
</div>
