


    <div>
            <select class="" name="key" ng-model="key">
                <option value="">ALL</option>
                <option value="_id">ID</option>
                <option value="compnos">COMPNOS</option>
                <option value="naturecode">NATURECODE</option>
                <option value="incident_type_description">INCIDENTS</option>
                <option value="main_crimecode">CRIME CODE</option>
                <option value="repdistrict">DISTRICT</option>
                <option value="reportingarea">AREA</option>
                <option value="fromdate">DATE</option>
                <option value="weapontype">WEAPON</option>
                <option value="shooting">SHOOTING</option>
                <option value="domestic">DOMESTIC</option>
                <option value="shift">SHIFT</option>
                <option value="year">YEAR</option>
                <option value="month">MONTH</option>
                <option value="day_week">DAY_WEEK</option>
                <option value="ucrpart">UCRPART</option>
                <option value="x">X</option>
                <option value="y">Y</option>
                <option value="streetname">STREETNAME</option>
                <option value="xstreetname">XSTREETNAME</option>
                <option value="location">LOCATION</option>
            </select>

            <input type="text" placeholder="value" name="value" ng-model="value">
            <input type="submit" value="Submit" ng-click="searchCrime(key,value)">


    </div>
    <div>
    <div class="table-responsive">
    <table class="table_crime">
        <thead>
            <tr>
                <th>ID</th>
                <th>COMPNOS</th>
                <th>NATURE CODE</th>
                <th>INCIDENTS</th>
                <th>CRIME CODE</th>
                <th>DISTRICT</th>
                <th>AREA</th>
                <th>DATE</th>
                <th>WEAPON</th>
                <th>SHOOTING</th>
                <th>DOMESTIC</th>
                <th>SHIFT</th>
                <th>YEAR</th>
                <th>MONTH</th>
                <th>DAY_WEEK</th>
                <th>UCRPART</th>
                <th>X</th>
                <th>Y</th>
                <th>STREETNAME</th>
                <th>XSTREETNAME</th>
                <th>LOCATION</th>
            </tr>
        </thead>
        <tbody>
              <tr ng-repeat="item in filtereditems">
                  <td>
                      {{item._id}}

                      <button type="submit" class="btn btn-danger" ng-click="delete_crime(crime._id)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                      <button type="submit" class="btn btn-warning">
	                    <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                      </button>
                  </td>
                  <td>{{item.compnos}}</td>
                  <td>{{item.naturecode}}</td>
                  <td>{{item.incident_type_description}}</td>
                  <td>{{item.main_crimecode}}</td>
                  <td>{{item.reptdistrict}}</td>
                  <td>{{item.reportingarea}}</td>
                  <td>{{item.fromdate}}</td>
                  <td>{{item.weapontype}}</td>
                  <td>{{item.shooting}}</td>
                  <td>{{item.domestic}}</td>
                  <td>{{item.shift}}</td>
                  <td>{{item.year}}</td>
                  <td>{{item.month}}</td>
                  <td>{{item.day_week}}</td>
                  <td>{{item.ucrpart}}</td>
                  <td>{{item.x}}</td>
                  <td>{{item.y}}</td>
                  <td>{{item.streetname}}</td>
                  <td>{{item.xstreetname}}</td>
                  <td>{{item.location}}</td>
              </tr>
        </tbody>
    </table>
    </div>





<div class="container">
    <div class="row">

      <div class="col-md-12 text-center">
        <ul uib-pagination="" total-items="bigTotalItems" max-size="maxSize" ng-model="currentPage"  items-per-page="itemsPerPage" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" rotate="true"></ul>
      </div>
	</div>
</div>
</div>
