
	</div>
</div>

  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type)" close="closeAlert($index)">{{alert.msg}}</div>

<table class="table_users table-striped">
    <thead>
        <tr>
            <th></th>
            <th>User</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
          <tr ng-repeat="user in userList" ng-if="!user.enable">
            <td>
                <button type="submit" class="btn btn-secondary" ng-click="Deleted(user._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
              <td>
                {{user.username}}
              </td>
              <td>
                  <select ng-model="roles">
                      <option>Agent</option>
                      <option>Detective</option>
                      <option>chef de la police</option>
                  </select>
                  <button type="submit" class="btn btn-success" ng-click="modifRoles(roles, user._id)">
                      <span class="glyphicon glyphicon-ok"></span>
                  </button>
              </td>
          </tr>
    </tbody>
</table>

</div>
