<table class="table_users">
    <thead>
        <tr>
            <th  colspan="3">User</th>
            <th>Email</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
          <tr>
            <td>
              <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/mydb/crimes/%22583ed87c516bfa8911466516%22?skip=0&key=&value=&type=&query=&projection= ">
                  <input type="hidden" name="_method" value="delete">
                  <button type="submit" class="btn btn-danger">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button>
            </td>
              <td>
                <!--        {{item.name}}       -->Marchal
              </td>

              <td>
                <!--        {{item.name}}       -->Remi
              </td>

              <td>
                <!--        {{item.mail}}       -->Email
              </td>

              <td>
                <select>
                  <option>Agent</option>
                  <option>Détective</option>
                  <option>Chef de la police</option>
                </select>
              </td>
          </tr>




<!--            POUR EXEMPLES              -->


<tr>
  <td>
    <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/mydb/crimes/%22583ed87c516bfa8911466516%22?skip=0&key=&value=&type=&query=&projection= ">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
  </td>
    <td>
      <!--        {{item.name}}       -->Son
    </td>

    <td>
      <!--        {{item.name}}       -->Goku
    </td>

    <td>
      <!--        {{item.mail}}       -->Email
    </td>

    <td>
      <select>
        <option>Agent</option>
        <option>Détective</option>
        <option>Chef de la police</option>
      </select>
    </td>
</tr>
<tr>
  <td>
    <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/mydb/crimes/%22583ed87c516bfa8911466516%22?skip=0&key=&value=&type=&query=&projection= ">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
  </td>

    <td>
      <!--        {{item.name}}       -->Vegeta
    </td>

    <td>
      <!--        {{item.name}}       -->Vegeta
    </td>

    <td>
      <!--        {{item.mail}}       -->Email
    </td>

    <td>
      <select>
        <option>Agent</option>
        <option>Détective</option>
        <option>Chef de la police</option>
      </select>
    </td>
</tr>
<tr>
  <td>
    <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/mydb/crimes/%22583ed87c516bfa8911466516%22?skip=0&key=&value=&type=&query=&projection= ">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
  </td>

    <td>
      <!--        {{item.name}}       -->Trunks
    </td>

    <td>
      <!--        {{item.name}}       -->Trunks
    </td>

    <td>
      <!--        {{item.mail}}       -->Email
    </td>

    <td>
      <select>
        <option>Agent</option>
        <option>Détective</option>
        <option>Chef de la police</option>
      </select>
    </td>
</tr>
<tr>
  <td>
    <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/mydb/crimes/%22583ed87c516bfa8911466516%22?skip=0&key=&value=&type=&query=&projection= ">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
  </td>
    <td>
      <!--        {{item.name}}       -->Marchal
    </td>

    <td>
      <!--        {{item.name}}       -->Remi
    </td>

    <td>
      <!--        {{item.mail}}       -->Email
    </td>

    <td>
      <select>
        <option>Agent</option>
        <option>Détective</option>
        <option>Chef de la police</option>
      </select>
    </td>
</tr>
<tr>
  <td>
    <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/mydb/crimes/%22583ed87c516bfa8911466516%22?skip=0&key=&value=&type=&query=&projection= ">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
  </td>
    <td>
      <!--        {{item.name}}       -->Thomas
    </td>

    <td>
      <!--        {{item.name}}       -->Samuel
    </td>

    <td>
      <!--        {{item.mail}}       -->Email
    </td>

    <td>
      <select>
        <option>Agent</option>
        <option>Détective</option>
        <option>Chef de la police</option>
      </select>
    </td>
</tr>
<tr>
  <td>
    <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/mydb/crimes/%22583ed87c516bfa8911466516%22?skip=0&key=&value=&type=&query=&projection= ">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
  </td>
    <td>
      <!--        {{item.name}}       -->Tison
    </td>

    <td>
      <!--        {{item.name}}       -->Théo
    </td>

    <td>
      <!--        {{item.mail}}       -->Email
    </td>

    <td>
      <select>
        <option>Agent</option>
        <option>Détective</option>
        <option>Chef de la police</option>
      </select>
    </td>
</tr>

<!--            FIN EXEMPLES              -->

    </tbody>
</table>

</div>
