<table class="table_users">
    <thead>
        <tr>
            <th></th>
            <th>User</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
          <tr ng-repeat="user in userList" ng-if="!user.enable">
            <td>
                <button type="submit" class="btn btn-danger">
                      <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
              <td>
                {{user.username}}
              </td>
              <td>
                {{ user.roles }}
              </td>
          </tr>
    </tbody>
</table>

</div>
